<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdn.html' %}
    <style media="screen">
      body{
        background:url(https://images.unsplash.com/flagged/photo-1551373916-bdaddbf4f881?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
        background-repeat:no-repeat;
        background-size:cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="offset-md-3 col-md-6">
          {% if my_list %}
          <center><h1 style="margin-top:175px;">|| AVAILABLE DATA ||</h1>
          {% for i in my_list %}
          <h2 style="font-size:"><a href="{% url 'viewpage' i.id %}" style="text-decoration:none;">{{ i.name|capfirst }}</a></h2>
          {% endfor %}
          {% else %}
          <h2> No data Available </h2>
          </center>
          {% endif %}
          <br>
          <button type="submit" name="add_data" class="btn btn-outline-success"><a href="register" style="text-decoration:none; color:black;"> ADD DATA </a></button>
        </div>
      </div>
    </div>
  </body>
</html>
